@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Whizzy whizz
    101 Whizz Street
    Where am i?
    W1ZZ E3E
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@wizz.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@wizz.com</a>
</address>