@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Media Organiser</h1>
    <p class="lead">Media Organiser - a Whizzy software product used to organise all your media, from images, to mp3's and videos!</p>
</div>
